<!DOCTYPE html>


<html lang="en" dir="ltr">
  <head>
    <style>
      ul {
        background: White;
        padding: 20px;
      }

      ul li {
        background: White;
        margin: 5px;
      }

      </style>
    <meta charset="utf-8">
    <title>Rock Paper Scissors game</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <h1 style="font-family:verdana;"><font color="DarkSlateGray">ROCK PAPER SCISSORS</font></h1>
    <nav>
          <ul>
            <li><a href="/"><font color="Grey">WELCOME</font></a></li>
            <li><a href="/game"><font color="Grey">BASIC GAME</font></a></li>
            <li><a href="/play"><font color="Grey">PLAY AGAINST THE COMPUTER!</font></a></li>
  </ul>
        <%= yield %>

        </nav>



  </body>
</html>
