<br>
<br><center>
<p>You played scissors.</p>
<h1 style="background-color:LightGrey;"><br><%= @scissors_computer %> <br><br></h1>
<br>
<h3>Try again!</h3>
<br>
<a href="http://localhost:4567/play">
  <img src="https://html5.gamedistribution.com/4f4de12401154a60ba7b46cdeb1f0d7b/images/gear.png" alt="Play again">
</a>
</center>
