<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"><center>
    <title>Play against computer!</title>
  </head>
  <body>

    <h1>Play ROCK PAPER SCISSORS against the computer!<h/>
      <h3> It's your turn. Choose one: </h3>
<br>

<a href="http://localhost:4567/play/paper">
  <img src="https://www3.bostonglobe.com//rw/Boston/2011-2020/WebGraphics/Metro/BostonGlobe.com/2018/05/rockpaperscissors/assets/paper--left.png" alt="Paper">
</a>
<a href="http://localhost:4567/play/scissors">
  <img src="https://www3.bostonglobe.com//rw/Boston/2011-2020/WebGraphics/Metro/BostonGlobe.com/2018/05/rockpaperscissors/assets/scissors--left.png" alt="Scissors">
</a>
<a href="http://localhost:4567/play/rock">
  <img src="http://www.rockyespy.com/Code%20and%20Functions/Game%20-%20Rock%20Paper%20Scissors/images/rock.png" alt="Rock">
</a>

<br>

</center>
  </body>
</html>
