<br>
<br>

<p><center>You played paper.</center></p>
<h1 style="background-color:LightGrey;"><br><center><%= @paper_computer %> </center><br><br></h1>
<br>
<h3><center>Try again!</center></h3>
<br>
<center><a href="http://localhost:4567/play">
  <img src="https://html5.gamedistribution.com/4f4de12401154a60ba7b46cdeb1f0d7b/images/gear.png" alt="Play again">
</a></center>
